<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <!-- 先引入 Vue -->
    <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <!-- 引入组件库 -->
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/toastr/toastr.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/toastr/toastr.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <style type="text/css">
        a:hover {
            color: yellow;
        }

        * {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
        }

        body {
            line-height: 1.5;
            font-size: 14px;
        }

        .scroll {
            display: inline-block;
            overflow: hidden;
            position: relative;
            height: 50px;
        }

        .scroll ul {
            transform: translateY(0);
        }

        .animate {
            -webkit-transition: all .3s ease-out;
        }

        .scroll li {
            overflow: hidden;
            display: -webkit-box;
            margin-left: 10px;
            width: 200px;
            height: 50px;
            line-height: 30px;
            color: #333;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;
        }

        .scroll li img {
            margin-top: 20px;
            margin-right: 12px;
            width: 20px;
            height: 20px;
        }
    </style>
    <title>Easylive后台管理</title>
</head>

<body>
<script type="text/javascript" src="/static/js/canvas-nest.min.js"></script>
<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<canvas height="926" width="1920" style="position: fixed; top: 0px; left: 0px; z-index: -1; opacity: 0.5;"
        id="c_n1"></canvas>
<el-container id="app">
    <el-header style="height:130px;border-bottom: 1px solid lightgray;">
        <div style="text-align: center;">
            <img src="/static/img/my.png" height="50px" style="display: inline;margin-right: 20px;"/>
            <span style="display: inline; font-size: 30px;">欢迎<span id="user"></span>登陆Easy-live管理页面</span>
        </div>
        <div style="position: absolute;">
            管理员：<b>admin:<em>li</em></b>
            <el-button id="exit" type="info" style="margin-top: 3px; color: white; display: block;" @click="back">
                退出
            </el-button>
        </div>
    </el-header>
    <el-container style="height: 1000px">
        <el-aside width="230px">
            <el-menu default-active="2" class="el-menu-vertical-demo">
                <el-submenu v-for="(m1,idx1) in root.list" :key="m1.id" :index="m1.id">
                    <template slot="title">
                        <i :class="m1.icon"></i>
                        <span>{{m1.title}}</span>
                    </template>
                    <el-menu-item-group>
                        <el-menu-item v-for="(m2,idx2) in m1.list" :key="m2.id" :index="m2.id">
                            <a :href="m2.href" style="text-decoration: none;color:inherit" target="ifm">
                                <i :class="m2.icon"></i>
                                <span>{{m2.title}}</span>
                            </a>
                        </el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>
        <el-main>
            <iframe name="ifm" frameborder="0" src="/toMainPage" border="0px" scrolling="auto"
                    style="height: 900px;width: 100%;">
                aaa
            </iframe>
        </el-main>
    </el-container>

</el-container>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            now: 1,
            formLabelWidth: "120px",
            dialogFormVisible: false,
            root: {
                list: [{
                    id: 1,
                    title: "单位基本信息",
                    icon: "el-icon-success",
                    list: [{
                        id: 2,
                        title: "单位基本信息",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "单位负责人",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "技术人员信息",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "仪器设备信息",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "特殊岗位人员",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "测绘成果及档案管理",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "质量体系",
                        href: "user",
                        icon: "el-icon-news"
                    }, {
                        id: 2,
                        title: "通用材料附件汇总",
                        href: "user",
                        icon: "el-icon-news"
                    }]
                }, {
                    id: 3,
                    title: "项目管理",
                    icon: "el-icon-setting",
                    list: [{
                        id: 4,
                        title: "项目管理",
                        href: "map",
                        icon: "el-icon-circle-plus"
                    }]
                }, {
                    id: 5,
                    title: "项目汇交",
                    icon: "el-icon-info",
                    list: [{
                        id: 6,
                        title: "项目汇交",
                        href: "myinfo.html",
                        icon: "el-icon-message"
                    }]
                }, {
                    id: 8,
                    title: "数据统计",
                    icon: "el-icon-view",
                    list: [{
                        id: 9,
                        title: "资质项目汇总统计",
                        href: "zf-first.html",
                        icon: "el-icon-star-off"
                    }, {
                        id: 10,
                        title: "单位信息统计",
                        href: "zf-second.html",
                        icon: "el-icon-star-on"
                    }, {
                        id: 11,
                        title: "人员设备汇总统计",
                        href: "dk-first.html",
                        icon: "el-icon-star-off"
                    }]
                }, {
                    id: 13,
                    title: "项目审核",
                    icon: "el-icon-rank",
                    list: [{
                        id: 14,
                        title: "项目信息",
                        href: "loan_detail.html",
                        icon: "el-icon-document"
                    }, {
                        id: 15,
                        title: "汇交成果信息",
                        href: "repay_detail.html",
                        icon: "el-icon-document"
                    }, {
                        id: 15,
                        title: "项目审核",
                        href: "repay_detail.html",
                        icon: "el-icon-document"
                    }, {
                        id: 15,
                        title: "成果汇交审核",
                        href: "repay_detail.html",
                        icon: "el-icon-document"
                    }]
                }, {
                    id: 16,
                    title: "单位审核",
                    icon: "el-icon-document",
                    list: [{
                        id: 17,
                        title: "单位列表",
                        href: "house_detail.html",
                        icon: "el-icon-document"
                    }, {
                        id: 18,
                        title: "单位修改待审核",
                        href: "order_detail.html",
                        icon: "el-icon-document"
                    }, {
                        id: 15,
                        title: "单位注册待审核",
                        href: "repay_detail.html",
                        icon: "el-icon-document"
                    }]
                }, {
                    id: 19,
                    title: "黑白名单",
                    icon: "el-icon-tickets",
                    list: [{
                        id: 20,
                        title: "白名单",
                        href: "/toDictionaryPage",
                        icon: "el-icon-tickets"
                    }, {
                        id: 15,
                        title: "黑名单",
                        href: "repay_detail.html",
                        icon: "el-icon-document"
                    }]
                }, {
                    id: 21,
                    title: "双随机抽查",
                    icon: "el-icon-bell",
                    list: [{
                        id: 22,
                        title: "单位抽查",
                        href: "/toLogPage",
                        icon: "el-icon-bell"
                    }, {
                        id: 15,
                        title: "抽查人员",
                        href: "repay_detail.html",
                        icon: "el-icon-document"
                    }]
                }, {
                    id: 22,
                    title: "信息公开",
                    icon: "el-icon-bell",
                    list: [{
                        id: 22,
                        title: "信息公开",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }]
                }, {
                    id: 22,
                    title: "公告栏",
                    icon: "el-icon-bell",
                    list: [{
                        id: 22,
                        title: "公告栏",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }]
                }, {
                    id: 22,
                    title: "系统管理",
                    icon: "el-icon-bell",
                    list: [{
                        id: 22,
                        title: "用户管理",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }, {
                        id: 22,
                        title: "角色管理",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }, {
                        id: 22,
                        title: "菜单管理",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }, {
                        id: 22,
                        title: "部门管理",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }, {
                        id: 22,
                        title: "字段管理",
                        href: "/toUploadPage",
                        icon: "el-icon-bell"
                    }]
                }]
            },
            vif: true,
            nickname: ""
        },
        mounted: function () {
            var date = new Date();
            this.now = (date.getMonth() + 1) + '-' + date.getDate() + "/" + date.getHours() + ':' + date.getMinutes()
            this.menuTree();
        },
        methods: {
            menuTree: function () {
                var _this = this;
                this.nickname = window.localStorage.getItem("username");
                if (window.localStorage.getItem("id") != 0) {
                    $.post("/menus", function (menu) {
                        alert(menu.code);
                        //alert((menu.data)[0].id);
                        alert(JSON.stringify(menu.data));
                        _this.root = menu.data;

                    })
                } else {
                    $.post("http://localhost:8080/WeatherManage/sidebar2", function (menu) {
                        _this.root = menu;

                    })
                }
            },
            back: function () {
                location.href = "login"
            }
        }

    })
</script>


</html>