<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.lee.mapper.RoleMenuMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.lee.model.RoleMenu" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
    <result column="MENU_ID" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="batchInsertRoleMenu" parameterType="java.util.List">
    INSERT INTO t_role_menu (ROLE_ID,MENU_ID) VALUES
    <foreach collection="list" item="rolemenu" separator=",">
      (#{rolemenu.roleId},#{rolemenu.menuId})
    </foreach>
  </insert>

  <delete id="deleteRoleMenu" parameterType="Long">
    delete from t_role_menu where ROLE_ID=#{roleId}
  </delete>

  <select id="selectByRoleId" parameterType="Long" resultType="Long">
    select * from t_role_menu where ROLE_ID=#{roleId}
  </select>
</mapper>